

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');



body{
    margin: 0px auto;
    
    width:1420px;
}

#container{
    
    font-family: 'Inconsolata', monospace;
    width: 1420px;
    margin: 0px auto;
    
    /*background-color:darkolivegreen*/
}

#bgblur{
    width: 1100px;
    height: 1450px;
    z-index: -10;    
    position: absolute;
    display: flex;
    margin: 220px 30px 0px 350px; 

}
#header{
    font-family: 'Inconsolata', monospace;
    width: 1420px;
    display: flex;
    justify-content: space-between;
    height:50px;
    /*background-color: chocolate;*/
    position: fixed;
    z-index: 110;
}
#menus{
    display:flex;
    justify-content: space-between; 
}



.textBox1{
    font-size: 40px;
    font-weight: 400;
    /*background-color: aqua;*/  
}

.textBox1 :hover{
    color: white; 
}

.gap{width: 100%;}

.h50{height: 50px;}
.h100{height: 100px;}



#nav{
    height: 50px;
    width: 840px;
    /*background-color: cornsilk; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}

#whitebox{
    background-color: white;   
}

#menus li{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    font-weight: 400;
   /*
    border-style: solid; 
    border-color: black;*/ 
    display:inline-flex;
    font-size: 23px;
    font-weight: 400;
    /*background-color: grey;*/
    border: 2px solid #000000;
    border-radius: 2em;
    height: 30px;
    width: 220px;
    margin: 0 0 0 12px;
    justify-content: center;
    align-items: center;
    
}


p{  margin: 380px 0px 0px 490px;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    width: 830px;
    
    line-height: 40px;


}





a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }



#menus li:hover{
    background-color: white;
    text-decoration: none;
}







#footer{
    font-family: 'Inconsolata', monospace;
    height: 100px; 
    justify-content: space-between;
    font-size: 25px;
    font-weight: 400;
    display:flex;    
    width:1420px;   
    margin-top: 1700px;
}


#underText{
    height: 30px;
    width: 260px;
    border-radius: 55%;    
   
    display:flex;
    margin: 5px 12px 0 12px;
    border: 2px solid #000000;   
    border-radius: 2em; 
    justify-content: center;
    align-items: center;
}

#underText:hover{
    background-color: white;

}

#copyright{
    margin-top: 10px;
}